{% extends 'blog/base.html' %}
{% block content %}
<br>
<h1 style="text-align: center;">Bienvenidos al blog personal de Marc Garrido</h1>
<br><br>
<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis veritatis explicabo obcaecati asperiores placeat. Unde necessitatibus dolorem quam praesentium, accusamus iusto a quidem tenetur aliquid facilis iste. Nesciunt, doloremque laudantium.</h4>
<br>
<br>
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae earum, nam eius ipsum, culpa porro enim architecto perferendis quasi voluptatem, quibusdam iure modi cumque ut numquam dolor voluptas beatae!</h4>
<br>
<br>
<h4>Consulta todos mis posts en "Ver Posts"!</h4>
{% endblock %}